.cg-top-spacing {
    margin-top: 30px;
}

.cg-profile-picture {
    width: 140px;
}

.cg-no-border {
    border: none;
}

.cg-no-vertical-margin {
    margin-top: 0px;
    margin-bottom: 0px;
}

.cg-legislator-tab-header {
    margin-top: 10px;
}