<div class="col-md-12 column">
     <div class="jumbotron cg-small-jumbotron">
      <h2 class="text-primary">ConGrep: Searchable Congress</h2>
      <p>Giving you the tools you need to hold your representatives accountable</p>
      <p><a ng-click="go_to_search()" class="btn btn-primary btn-lg" role="button">Start Searching</a></p>
    </div>
    
    <div class="well well-lg">  
        <h4 class="text-primary">What data is available?</h4>
        <p>Additional ways to search the data is added on a regular basis. Right now, you can find information like:</p>
        <ul>
            <li>Legislator voting records (both Senators and Representatives)</li>
            <li>Top donor companies, industries, and sectors for legislators</li>
            <li>Bills sponsored by legislators</li>
            <li>Committee memberships for legislators</li>
            <li>Fundraising events directly benefiting legislators</li>
            <li>Words and phrases most frequently used by specific legislators</li>
            <li>Top legislative recipients and PAC recipients of specific companies and organizations</li>
            <li>Recipient breakdown by party for specific companies and organizations</li>
            <li>Lobbying firms and individuals hired by specific companies and organizations</li>
            <li>Bills lobbied for by specific companies and organizations</li>
        </ul>
        <h4 class="text-primary">Where is the data from?</h4>
        <p>All the data is retrieved (with permission) from data-sets hosted by the <a href="http://sunlightfoundation.com/">Sunlight Foundation</a></p>
        <h4 class="text-primary">How can the data be used? (Terms)</h4>
        <p>Feel free to search as you please! Here are some important notes for you to be aware of:</p>
        <ul>
            <li>Some of the data is used in accordance to the <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">Creative Commons Attribution Non-Commercial Share-Alike</a> license</li>
            <li>Some data is credited to the <a href="http://www.opensecrets.org/">Center for Responsive Politics</a></li>
            <li>There are federal and state restrictions on how you use campaign finance data. Please be sure you understand the rules if you plan to use this data beyond searching!
                Here is an <a href="http://www.fec.gov/pages/brochures/sale_and_use_brochure.pdf">example</a> of some rules affecting this data
            </li> 
        </ul>
        <h4 class="text-primary">What if I have additional questions?</h4>
        <p>Feel free to <a href="http://mattstockton.com">contact me</a> via whatever medium works for you</p>
        <p>If you want to work on the project with me, the code is <a href="https://github.com/MattStockton/congrep">available on GitHub</a></p>
    </div>
</div>