<div class="row clearfix">
    <div class="col-md-2 column">
    </div>
    <div class="col-md-8 column">
        <h3 ng-show="search_error != undefined" class="text-danger">
            {{ search_error }}
        </h3>
    
        <form ng-submit="search_legislators()" class="form-horizontal" role="form">
            <div class="form-group">
                <div class="input-group">
                    <input ng-model="congress_search_text" type="text" class="form-control" placeholder="Search for a Member of Congress by name"/>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Search</button>
                    </span>
                </div>
            </div>
        </form>
        <div ng-show="legislator_search_results.length > 0">
            <div class="list-group">
                <a ng-repeat="legislator in legislator_search_results" ng-click="go_to_legislator(legislator)" class="list-group-item">
                   {{legislator.first_name}} {{ legislator.last_name }}
                </a>
            </div>
        </div>
        <form ng-submit="search_organizations()" class="form-horizontal" role="form">
            <div class="form-group">
                <div class="input-group">
                    <input ng-model="organization_search_text" type="text" class="form-control" placeholder="Search for a Company by name"/>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Search</button>
                    </span>
                </div>
            </div>
        </form>
        <div ng-show="organization_search_results.length > 0">
            <div class="list-group">
                <a ng-repeat="organization in organization_search_results" ng-click="go_to_organization(organization)" class="list-group-item">
                   {{  organization.name }}
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-2 column">
    </div>
</div>
