<div class="col-md-2 column">
    <img ng-show="organization.get_photo_url()" class="cg-profile-picture img-thumbnail" alt="140x140" ng-src="{{ organization.get_photo_url() }}"/> 
    <address class="cg-top-spacing"> 
    <strong>{{organization.get_name()}}</strong><br>
    <a ng-show="organization.get_bio_url()" href="{{ organization.get_bio_url() }}" target="_blank">Organization Bio</a><br>
    </address>
</div>
<div class="col-md-10 column">
    <tabset>
        <tab heading="Top Recipients">
            <h4><span class="label label-primary">Top Recipients</span></h4>
            <ul class="list-group">
                <li ng-repeat="recipient in top_recipients" class="list-group-item">
                    <a ng-click="go_to_recipient(recipient)">{{ recipient.name }}</a> - ${{recipient.total_amount}} total, ${{recipient.direct_amount}} by organization 
                </li>
            </ul>
            <h4><span class="label label-primary">Top PAC Recipients</span></h4>
            <ul class="list-group">
                <li ng-repeat="pac_recipient in top_pac_recipients" class="list-group-item">
                    <span ng-show="pac_recipient.id"><a ng-click="go_to_pac_recipient(pac_recipient)">{{ pac_recipient.name }}</a> - ${{pac_recipient.total_amount}} total, ${{pac_recipient.direct_amount}} by organization</span>
                    <span ng-show=" ! pac_recipient.id">{{ pac_recipient.name }} - ${{pac_recipient.total_amount}} total, ${{pac_recipient.direct_amount}} by organization</span>
                </li>
            </ul>
        </tab>
        <tab heading="Recipient Breakdown">
            <h4><span class="label label-primary">Recipients by Party</span></h4>
             <ul ng-show="recipient_party_breakdown" class="list-group">
                <li ng-repeat="(party, contribs) in recipient_party_breakdown.get_raw()" class="list-group-item">
                    {{ party }} - {{ contribs[0] }} donations, ${{ contribs[1] }}
                </li>
            </ul>               
            <h4><span class="label label-primary">State / Federal Breakdown</span></h4>
             <ul ng-show="govt_level_breakdown" class="list-group">
                <li ng-repeat="(level,contribs) in govt_level_breakdown.get_raw()" class="list-group-item">
                    {{ level }} - {{ contribs[0] }} donations, ${{ contribs[1] }}
                </li>
            </ul>   
        </tab>
        <tab heading="Lobbying">
            <h4><span class="label label-primary">Firms Hired</span></h4>
             <ul ng-show="lobby_firms" class="list-group">
                <li ng-repeat="firm in lobby_firms" class="list-group-item">
                    {{ firm.registrant_name }} - ${{ firm.amount }}, {{ firm.count }} engagements
                </li>
            </ul>   
            <h4><span class="label label-primary">Individuals Hired</span></h4>
             <ul ng-show="individual_lobbyists" class="list-group">
                <li ng-repeat="lobbyist in individual_lobbyists" class="list-group-item">
                    <a ng-click="go_to_lobbyist(lobbyist)">{{ lobbyist.lobbyist_name }}</a> - {{ lobbyist.count }} engagements
                </li>
            </ul>   
            <h4><span class="label label-primary">Lobbying Issues</span></h4>
             <ul ng-show="lobbying_issues" class="list-group">
                <li ng-repeat="issue in lobbying_issues" class="list-group-item">
                    {{ issue.issue }} - {{ issue.count }} engagements
                </li>
            </ul>   
        </tab>
        <tab heading="Lobbied Bills">
            <h4><span class="label label-primary">Lobbied on the following bills</span></h4>
             <ul ng-show="lobbying_bills" class="list-group">
                <li ng-repeat="bill in lobbying_bills" class="list-group-item">
                    {{ bill.title}} - {{ bill.count }} engagements
                </li>
            </ul> 
        </tab> 
        <tab heading="Dockets">
            <h4><span class="label label-primary">Dockets mentioning this organization</span></h4>
            <ul ng-show="regulatory_docket_mentions" class="list-group">
                <li ng-repeat="docket in regulatory_docket_mentions" class="list-group-item">
                    {{ docket.title }}<br>
                    {{ docket.count }} mentions<br>
                    {{ docket.year }} / {{ docket.agency }}
                </li>
            </ul> 
            <h4><span class="label label-primary">Dockets with comments submitted by this organization</span></h4>
            <ul ng-show="regulatory_docket_submissions" class="list-group">
                <li ng-repeat="docket in regulatory_docket_submissions" class="list-group-item">
                    {{ docket.title }}<br>
                    {{ docket.count }} comments<br>
                    {{ docket.year }} / {{ docket.agency }}
                </li>
            </ul> 
        </tab>
    </tabset>
</div>

<div id="no_data_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">    
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal-label">No Data for that Legislator</h4>
            </div>
            <div class="modal-body">
              Sorry, we don't have any data for that Legislator yet.
            </div>
        </div>
    </div>
</div>