<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <title>ConGrep</title>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/app.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    
    {% include 'ga.script' %}
</head>
<body ng-app=congress_app ng-controller="congress_ctrl" class="cg-top-spacing" ng-cloak>
{% raw %}

	<div class="container">
	    <div class="row clearfix">
	    </div>
	    <div class="row clearfix">
	        <div class="col-md-2 column">
	            <img class="cg-profile-picture" alt="140x140" ng-src="http://theunitedstates.io/images/congress/225x275/{{ legislator.bioguide_id}}.jpg"> 
	            <address class="cg-top-spacing"> 
                <strong>{{legislator.first_name}} {{ legislator.last_name }}</strong><br> 
                {{ legislator.office }}<br> 
                {{ legislator.state_name }}<br> 
                <abbr title="Phone">P:</abbr> {{ legislator.phone }}<br>
                {{ legislator.term_start }} - {{ legislator.term_end }}<br> <br> 
                <a ng-show="legislator.website != undefined" href="{{ legislator.website }}">Website</a><br>
                <a ng-show="legislator.twitter_id != undefined" href="http://twitter.com/{{ legislator.twitter_id }}">Twitter</a><br>
                <a ng-show="legislator.facebook_id != undefined" href="http://facebook.com/{{ legislator.facebook_id }}">Facebook</a><br>
 
	            </address>
	        </div>
	        <div class="col-md-10 column">
	            <h2>
	                Top Donors
	            </h2>
	            <p>
    	           Here are the top donors for {{legislator.first_name}} {{ legislator.last_name }}
    	        </p>
                <ul class="list-unstyled">
                    <li ng-repeat="donor in top_donors ">
                        {{ donor.name }} (${{ donor.total_amount}})
                    </li>
                </ul>
                <h2>
                    Top Contributing Industries
                </h2>
                <p>
                   Here are the top contributing industries for {{legislator.first_name}} {{ legislator.last_name }}
                </p>
                <ul class="list-unstyled">
                    <li ng-repeat="industry in top_contributing_industries ">
                        {{ industry.name}} (${{ industry.amount}}, {{ industry.count}} donations)
                    </li>
                </ul>
                 <h2>
                    Top Contributing Sectors
                </h2>
                <p>
                   Here are the top contributing sectors for {{legislator.first_name}} {{ legislator.last_name }}
                </p>
                <ul class="list-unstyled">
                    <li ng-repeat="sector in top_contributing_sectors ">
                        {{ get_sector_name(sector.sector)}} (${{ sector.amount}}, {{ sector.count}} donations)
                    </li>
                </ul>
                 <h2>
                    Contribution Breakdown
                </h2>
                <p>
                   Here are the top contributors broken down by type for {{legislator.first_name}} {{ legislator.last_name }}
                </p>
                <ul class="list-unstyled">
                    <li ng-repeat="(key, value) in contribution_breakdown ">
                        {{ key }} (${{ value[1]}}, {{ value[0]}} donations)
                    </li>
                </ul>
                <h2>
                    Top Phrases
                </h2>
                <p>
                   Here are the top phrases used by {{legislator.first_name}} {{ legislator.last_name }}
                </p>
                <ul class="list-unstyled">
                    <li ng-repeat="phrase in top_phrases ">
                        {{ phrase.ngram }} ({{ phrase.count}})
                    </li>
                </ul>
	        </div>
	    </div>
	</div> 
{% endraw %}
</body>

<script type="text/javascript">
    var sunlight_email = '{{ sunlight_email }}';
    var sunlight_api_key = '{{ sunlight_api_key }}';
    var sunlight_root = 'https://congress.api.sunlightfoundation.com';
    
    var SECTOR_LOOKUP = {
    	"A" : "Agribusiness",
    	"B" : "Communications/Electronics",
    	"C" : "Construction",
    	"D" : "Defense",
    	"E" : "Energy/Natural Resources",
    	"F" : "Finance/Insurance/Real Estate",
    	"H" : "Health",
    	"K" : "Lawyers and Lobbyists",
    	"M" : "Transportation",
    	"N" : "Misc. Business",
    	"Q" : "Ideology/Single Issue",
    	"P" : "Labor",
    	"W" : "Other",
    	"Y" : "Unknown",
    	"Z" : "Administrative Use"
    };
    
    var congress_app = angular.module('congress_app', []);

    var congress_ctrl = function ($scope, $http, $window, $q) {
        $scope.search_criteria = "48104";
        $scope.legislator = undefined;
        $scope.top_donors = [];
        $scope.top_phrases = [];
        $scope.top_contributing_industries = [];
        $scope.top_contributing_sectors = [];
        $scope.contribution_breakdown = {};
        $scope.independent_expenditures = [];
        
        $scope.run_search = function(){
            $http.get(sunlight_root + '/legislators/locate?apikey=' + sunlight_api_key + '&zip=' + $scope.search_criteria).then(
                function(result){
                	if(result && result.data && result.data.results){
                		$scope.legislator = result.data.results[0];	
                		
                        $scope.get_top_phrases($scope.legislator.bioguide_id);    
                        
                		$scope.set_entity_id($scope.legislator.bioguide_id).then(function(){
                            $scope.get_top_donors();
                            $scope.get_top_contributing_industries();
                            $scope.get_top_contributing_sectors();
                            $scope.get_contribution_breakdown();
                            $scope.get_independent_expenditures();
                		});
                	}
                }
            );
        }
        
        $scope.set_entity_id = function(bioguide_id){
        	var deferred = $q.defer();
        	
            $http.jsonp('http://transparencydata.org/api/1.0/entities/id_lookup.json?apikey=' + sunlight_api_key + '&bioguide_id=' + bioguide_id + '&callback=JSON_CALLBACK').success(
                    function(data){
                        $scope.legislator_entity_id = data[0].id;
                        deferred.resolve();
                    }
            );
            return deferred.promise;
        };

        $scope.get_top_donors = function(){
            $http.jsonp('http://transparencydata.com/api/1.0/aggregates/pol/' + $scope.legislator_entity_id + '/contributors.json?&apikey=' + sunlight_api_key + '&callback=JSON_CALLBACK').success(
                    function(data){
                        $scope.top_donors = data;
                    }
            );  
        }
        
        $scope.get_top_phrases = function(bioguide_id){     
        	// Need to use jQuery JSONP because of this: https://github.com/angular/angular.js/issues/1551
        	$.getJSON('http://capitolwords.org/api/1/phrases.json?entity_type=legislator&n=3&apikey=' + sunlight_api_key + '&entity_value=' + bioguide_id + '&callback=?',
                function(data){
                   $scope.top_phrases = data;
                }
            );
        };

        $scope.get_top_contributing_industries = function(){     
            $http.jsonp('http://transparencydata.com/api/1.0/aggregates/pol/' + $scope.legislator_entity_id + '/contributors/industries.json?apikey=' + sunlight_api_key + '&callback=JSON_CALLBACK').success(
                    function(data){
                        $scope.top_contributing_industries = data;
                    }
            );  
        };

        $scope.get_top_contributing_sectors = function(){     
            $http.jsonp('http://transparencydata.com/api/1.0/aggregates/pol/' + $scope.legislator_entity_id + '/contributors/sectors.json?apikey=' + sunlight_api_key + '&callback=JSON_CALLBACK').success(
                    function(data){
                        $scope.top_contributing_sectors = data;
                    }
            );  
        };

        $scope.get_contribution_breakdown = function(){     
            $http.jsonp('http://transparencydata.com/api/1.0/aggregates/pol/' + $scope.legislator_entity_id + '/contributors/type_breakdown.json?apikey=' + sunlight_api_key + '&callback=JSON_CALLBACK').success(
                    function(data){
                        $scope.contribution_breakdown = data;
                    }
            );  
        };
 
        // TODO - Doesn't appear to be returning anything. Need to look into this
        $scope.get_independent_expenditures = function(){     
            $http.jsonp('http://transparencydata.com/api/1.0/aggregates/pol/' + $scope.legislator_entity_id + '/fec_indexp.json?apikey=' + sunlight_api_key + '&callback=JSON_CALLBACK').success(
                    function(data){
                        $scope.independent_expenditures = data;
                    }
            );  
        };
        
        $scope.get_sector_name = function(sector){
        	return SECTOR_LOOKUP[sector];
        }

        $scope.run_search();
    };

    congress_app.controller('congress_ctrl', congress_ctrl);
</script>

</html>
