<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <title>ConGrep</title>
    <link type="text/css" rel="stylesheet" href="/static/css/app.css"/>

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    
    {% include 'ga.script' %}
</head>
<body ng-app=congress_app ng-controller="congress_ctrl">
{% raw %}

    <div id="search_header">ConGrep</div>
    <form class="form-wrapper cf js-command-form" ng-submit="run_search()">
        <input type="text" ng-model="search_criteria" placeholder="Seach by Zip Code..." required>
        <button type="submit">Search</button>
    </form>
 
    <div id="search_results">
        <div class="legislator" ng-repeat="legislator in legislators ">
            <div class="legislator-picture">
                <img ng-src="http://theunitedstates.io/images/congress/225x275/{{ legislator.bioguide_id}}.jpg"/>
            </div>
            <div class="legislator-detail">
                <div class="legislator-name">
                    <a href="{{ legislator.website }}">{{ legislator.first_name }} {{ legislator.last_name }}</a>
                </div>
                <div class="legislator-social">
                    <a class="social-icon" ng-show="{{ legislator.twitter_id != undefined }}" href="http://twitter.com/{{ legislator.twitter_id }}"><img src="/static/images/Twitter_logo_blue.png"/></a>
                    <a class="social-icon" ng-show="{{ legislator.facebook_id != undefined }}" href="http://facebook.com/{{ legislator.facebook_id }}"><img src="/static/images/FB-f-Logo__blue_512.png"/></a>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">Information about Congress</div>
    
{% endraw %}
</body>

<script type="text/javascript">
    var sunlight_email = '{{ sunlight_email }}';
    var sunlight_api_key = '{{ sunlight_api_key }}';
    var sunlight_root = 'https://congress.api.sunlightfoundation.com';
    
    var congress_app = angular.module('congress_app', []);

    var congress_ctrl = function ($scope, $http) {
        $scope.search_criteria = "";
        $scope.legislators = [];
        
        $scope.run_search = function(){
            $http.get(sunlight_root + '/legislators/locate?apikey=' + sunlight_api_key + '&zip=' + $scope.search_criteria).then(
                function(result){
                    $scope.legislators = result.data.results;
                }
            );
        }
    };

    congress_app.controller('congress_ctrl', congress_ctrl);
</script>

</html>
